{% extends 'layouts/main.html' %}
{% block title %}Classical{% endblock %}
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />

{% block content %}

<script>
function onStartInput() {
  x = document.getElementById("inputContainer");
  x.style.display = "inline-block";
  y = document.getElementById("inputPrompt")
  z = document.getElementById("randomGamePrompt")
  y.style.display = "none";
  z.style.display = "none";
}
function onSubmitInput() {
  x = document.getElementById("inputBox");
  result = x.value.replace(/\s/g, '');
  console.log(result)
  window.location.href = "/classical?setup="+result;
}
var hintsDisplayed = 0
function onHint() {
  hintsDisplayed++;
  for (i = 0; i < hintsDisplayed; i++) {
    x = document.getElementById("hint"+i.toString())
    x.style.display = "block";
  }
}

function swap(newboard) {
  window.location.href = "/classical?setup="+newboard;
}

</script>

<div class="page-header">
  <h1>Classical Mode</h1>
</div>
<div class="big-container">
  <div class="cb-container" id = "cb-container">
    <div class="pair">
        <div class="domino">
          {% if classicalBoard.dummyFont[60] == "k"%}
            <div class = "domone">{{ classicalBoard.dummyFont[60] }}</div>
          {% elif classicalBoard.dummyFont[60] == "n"%}
            <div class = "domfour">{{ classicalBoard.dummyFont[60] }}</div>
          {% elif classicalBoard.dummyFont[60] == "l"%}
            <div class = "domtwo">{{ classicalBoard.dummyFont[60] }}</div>
          {% else %}
            <div class = "domspacy">{{ classicalBoard.dummyFont[60] }}</div>
          {% endif %}
          
          {% if classicalBoard.dummyFont[61] == "k"%}
            <div class = "domone">{{ classicalBoard.dummyFont[61] }}</div>
          {% elif classicalBoard.dummyFont[61] == "n"%}
            <div class = "domfour">{{ classicalBoard.dummyFont[61] }}</div>
          {% elif classicalBoard.dummyFont[61] == "l"%}
            <div class = "domtwo">{{ classicalBoard.dummyFont[61] }}</div>
          {% else %}
            <div class = "domspacy">{{ classicalBoard.dummyFont[61] }}</div>
          {% endif %}</div>
        <div class="domino" id="domino">
          {% if classicalBoard.dummyFont[62] == "k"%}
            <div class = "domone">{{ classicalBoard.dummyFont[62] }}</div>
          {% elif classicalBoard.dummyFont[62] == "n"%}
            <div class = "domfour">{{ classicalBoard.dummyFont[62] }}</div>
          {% elif classicalBoard.dummyFont[62] == "l"%}
            <div class = "domtwo">{{ classicalBoard.dummyFont[62] }}</div>
          {% else %}
            <div class = "domspacy">{{ classicalBoard.dummyFont[62] }}</div>
          {% endif %}
          
          {% if classicalBoard.dummyFont[63] == "k"%}
            <div class = "domone">{{ classicalBoard.dummyFont[63] }}</div>
          {% elif classicalBoard.dummyFont[63] == "n"%}
            <div class = "domfour">{{ classicalBoard.dummyFont[63] }}</div>
          {% elif classicalBoard.dummyFont[63] == "l"%}
            <div class = "domtwo">{{ classicalBoard.dummyFont[63] }}</div>
          {% else %}
            <div class = "domspacy">{{ classicalBoard.dummyFont[63] }}</div>
          {% endif %}
          </div>
    </div>
    {% for i in range(10) %}
        <div class="trio">
        {% for j in range(3) %}
          <div class="domino">

              {% if classicalBoard.dummyFont[i*6+j*2] == "k"%}
                <div class = "domone">{{ classicalBoard.dummyFont[i*6+j*2] }}</div>
              {% elif classicalBoard.dummyFont[i*6+j*2] == "n"%}
                <div class = "domfour">{{ classicalBoard.dummyFont[i*6+j*2] }}</div>
              {% elif classicalBoard.dummyFont[i*6+j*2] == "l"%}
                <div class = "domtwo">{{ classicalBoard.dummyFont[i*6+j*2] }}</div>
              {% else %}
                <div class = "domspacy">{{ classicalBoard.dummyFont[i*6+j*2] }}</div>
              {% endif %}

              {% if classicalBoard.dummyFont[i*6+j*2+1] == "k"%}
                <div class = "domone">{{ classicalBoard.dummyFont[i*6+j*2+1] }}</div>
              {% elif classicalBoard.dummyFont[i*6+j*2+1] == "n"%}
                <div class = "domfour">{{ classicalBoard.dummyFont[i*6+j*2+1] }}</div>
              {% elif classicalBoard.dummyFont[i*6+j*2+1] == "l"%}
                <div class = "domtwo">{{ classicalBoard.dummyFont[i*6+j*2+1] }}</div>
              {% else %}
                <div class = "domspacy">{{ classicalBoard.dummyFont[i*6+j*2+1] }}</div>
              {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div style = "margin-left: 64px;">
    <div> A solution was found with {{ classicalBoard.couponCollector(classicalBoard.indicesraw, classicalBoard.lotrios, [[0, 0], [1, 8], [2, 2], [3, 7], [4, 4], [5, 5], [6, 6], [9, 12], [10, 13], [11, 11], [14, 16], [15, 15], [17, 17], [18, 18], [19, 19], [20, 20]], classicalBoard.lodominoes, 200) }} steps  :)
    <button onclick="onHint()" id = "reveal-hint">Hint</button>
    </div>
    Click on a revealed step to skip to that step.
    <p style = "font-weight: 300; line-height: 1.7; font-size: 14px; margin-top: -8px;"><br>*If clicking hint doesn't show anything, it means we didn't find a solution under 30 steps. Feel free to try the puzzle anyway though!<br></p>
    <div class = "hints">
      {% for i in range(20)  %}
        {% if classicalBoard.printableSolution|length > i %}
            <div style= "display:none;"> {{ classicalBoard.swapRaw(classicalBoard.printableSolution[i][1], classicalBoard.printableSolution[i][2]) }}</div>
            <a href = {{"/classical?setup="+ classicalBoard.getActualRaw()}} id = {{ "hint" + i|string}} class = "hintContainer" style = "display:none;">
            <pre><code>{{ classicalBoard.printableSolution[i][0] }}</pre></code>
            </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
