{% extends 'layouts/main.html' %}
{% block title %}Classical{% endblock %}
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />

{% block content %}

<div class="page-header">
  <h1>Classical Mode</h1>
</div>
<p class="lead">Here, you can generate a random game, or input an existing order of dominoes.</p>

<div class="cb-container">
  <div class="pair">
    <div class="domino"><div>{{ classicalBoard.raw[10][1] }}</div><div>{{ classicalBoard.raw[10][2] }}</div></div>
    <div class="domino"><div>{{ classicalBoard.raw[11][1] }}</div><div>{{ classicalBoard.raw[11][2] }}</div></div>
  </div>
  {% for i in range(10) %}
      <div class="trio">
      {% for j in range(3) %}
        <div class="domino"><div>{{ classicalBoard.raw[i].details[j][1] }}</div><div>{{ classicalBoard.raw[i].details[j][2] }}</div></div>
      {% endfor %}
    </div>
  {% endfor %}

</div>
{% endblock %}
