{% extends 'layouts/flower_main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<script>
function clickEffect(e){
  var d=document.createElement("div");
    let rng = Math.floor(Math.random() * 4)+1;
  d.className="clickEffect" + rng.toString();
  d.style.top=e.clientY+"px";d.style.left=e.clientX+"px";
  document.body.appendChild(d);
  d.addEventListener('animationend',function(){d.parentElement.removeChild(d);}.bind(this));
}

document.addEventListener('click',clickEffect);

</script>

<div class="page-header">
  <h1>Welcome!</h1>
</div>
<p class = "lead" style = "font-size:13px;">This is a site with flowers. You find flowers when you are careful.<br>
<p class="lead color">This site hosts a game with complicated rules that you can view <a href = "/rules">here</a>.<br>
It might one day grow to host more obscure single-player games.<br><p>
</p>

{% endblock %}
