{% extends 'layouts/flower_main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
var language = window.navigator.userLanguage || window.navigator.language;
if (language == "zh"){
  window.location.href = "/zh/flower";
}
</script>
<div class="page-header">
  <h1>Welcome!</h1>
</div>
<p class = "lead" style = "font-size:13px;">This is a site with flowers. You find flowers when you are careful.<br>
<p class="lead color">This site hosts a game with complicated rules that you can view <a href = "/flower/rules">here</a>.<br>
It might one day grow to host more obscure single-player games.<br><p>
</p>

{% endblock %}
