{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<script>
var language = window.navigator.userLanguage || window.navigator.language;
if (language.slice(0,2) == "zh"){
  window.location.href = "/zh"
}
</script>

<div class="page-header">
  <h1>Welcome!</h1>
</div>
<p class="lead">
  Hi! This site hosts a domino game.
</p>
<p class="lead">
  You can check the rules <a href = "/rules">here</a>, or find the rules again during a game using the
  <span style="font-family: montserrat; background-color: #f1f1f1; padding: 6px;">?</span>
  button at the bottom right corner.
</p>
<div style="margin-top: 48px;">
  <a href="{{ url_for('randomgame') }}" class="fakeButton">Random Game</a>
</div>
{% endblock %}
