{% extends 'layouts/main.html' %}
{% block title %}Classical{% endblock %}
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />

{% block content %}

<script>
function onStartInput() {
  x = document.getElementById("inputContainer");
  x.style.display = "inline-block";
  y = document.getElementById("inputPrompt")
  z = document.getElementById("randomGamePrompt")
  y.style.display = "none";
  z.style.display = "none";
}
function onSubmitInput() {
  x = document.getElementById("inputBox");
  result = x.value.replace(/\s/g, '');
  console.log(result)
  window.location.href = "/classical?setup="+result;
}
var hintsDisplayed = 0
function onHint() {
  hintsDisplayed++;
  for (i = 0; i < hintsDisplayed; i++) {
    x = document.getElementById("hint"+i.toString())
    x.style.display = "block";
  }
}

function swap(newboard) {
  window.location.href = "/classical?setup="+newboard;
}

</script>

<div class="page-header">
  <h1>Classical Mode</h1>
</div>
<p class="lead">
  Something you did wasn't valid, perhaps how you swapped the blocks; try again?
</p>
{% endblock %}
