
/**
 * @file
 * Main stylesheet file.
 */

 @font-face {
  font-family: "Dicey";
  src: url("../fonts/Dicey.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

/* dominoes */

.trio {
  display: flex;
  width: min-content;
  margin: 8px 16px;
}

.pair {
  display: flex;
  width: min-content;
  justify-self: center;
  margin: 8px 8px;
  grid-area: pair;
}

.domino {
  font-family: "Dicey", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 50px;
  padding: 6px 8px 10px 8px;
  margin: 0 2px;
  align-content: center;
  text-align: center;
  background-color: #fff;
  font-weight: 400;
  box-shadow: 0px 0px 3px #ccc;
  border-radius: 3px;
}

.domone {
  color: rgb(168, 29, 29);
}

.domfour {
  color: rgb(168, 29, 29);
  margin-left:6px;
}

.domspacy {
  margin-left:6px;
}

.cb-container {
  display: grid;
  grid-template-areas:
  'pair pair'
  'trio0 trio1'
  'trio2 trio3'
  'trio4 trio5'
  'trio6 trio7'
  'trio8 trio9';
  width: min-content;
}

button {
  background-color: #f3f3f3;
  background-image: none;
  border:none;
  border-bottom: 2px solid #555;
  padding: 8px 20px;
  margin: 8px 8px 8px 0;
}

button:hover {
  background-color: #555;
  color: #fff;
}

.fakeButton {
  background-color: #f3f3f3;
  background-image: none;
  border:none;

  border-bottom: 2px solid #555;
  color: #333;
  padding: 8px 20px;
  margin: 8px 8px 8px 0;
}

.fakeButton:hover {
  background-color: #555;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #333;
}

input {
  background-color: #f3f3f3;
  background-image: none;
  border:none;
  border-bottom: 2px solid #555;
  padding: 8px;
  margin: 8px 8px 8px 0;
}

:focus { outline: none; }


/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

