
/**
 * @file
 * Main stylesheet file.
 */

 @font-face {
  font-family: "Dicey";
  src: url("../fonts/Dicey.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

/* dominoes */

@media (max-width: 500px) {
  .select-mode {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(90%, 400px);
  }
  .select-mode .fakeButton {
    text-align: left;
  }
  .select-mode button {
    text-align: left;
  }
}

.big-input-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}



.trio {
  display: flex;
  width: min-content;
  padding: 12px 12px;
  border-radius: 1px;
}

.pair {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12px 12px;
  grid-area: pair;
}

.domino {
  font-family: "Dicey", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  width: 50px;
  padding: 6px 8px 10px 8px;
  margin: 0 2px;
  align-content: center;
  text-align: center;
  background-color: #fff;
  font-weight: 400;
  box-shadow: 2px 2px 4px rgba(143, 143, 143, 0.2);
  border-radius: 3px;
  line-height: 1;
}

.domone {
  color: rgb(168, 29, 29);
}

.domfour {
  color: rgb(168, 29, 29);
  margin-left:6px;
}

.domspacy {
  margin-left:6px;
}

.valid {
  background-color: #f1f1f1;
}

.hightlighted .domino {
  background-color: #2e2e2e;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
  color: #eee;
}

.hightlighted .domone, .hightlighted .domfour {
  color: rgb(211, 58, 58);
}



.big-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  
}

.cb-container {
  display: grid;
  grid-template-areas:
  'pair pair'
  'trio0 trio1'
  'trio2 trio3'
  'trio4 trio5'
  'trio6 trio7'
  'trio8 trio9';
  width: min-content;
  padding: 0 -24px;
  margin: 0 24px 0 -24px;
  height:min-content;
}

button {
  background-color: #f3f3f3;
  background-image: none;
  border:none;
  border-bottom: 2px solid #555;
  padding: 8px 20px;
  margin: 8px 24px 8px 0;
}

button:hover {
  background-color: #555;
  color: #fff;
}

.fakeButton {
  background-color: #f3f3f3;
  background-image: none;
  border:none;
  border-bottom: 2px solid #555;
  color: #333;
  padding: 8px 20px;
  margin: 8px 24px 8px 0;
  height:min-content;
  vertical-align: middle;
}

.fakeButton:hover {
  background-color: #555;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #333;
}

input {
  background-color: #f3f3f3;
  background-image: none;
  border:none;
  border-bottom: 2px solid #555;
  padding: 8px;
  margin: 8px 8px 8px 0;
}

pre {
  display: block;
  padding: 8px 16px;
  margin: 16px 0 -16px;
  font-size: 10px;
  line-height: 1;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f3f3f3;
  border: none;
  border-left: 0px solid #555;
  border-radius: 0;
}

pre:hover {
  color: #fff;
  background-color: #555;
}

.hintContainer {
  margin: 0 20px 0 0;
  flex-direction: row;
  justify-content: space-between;
  width: min(400px, 100%);
}

.solutionButtons{
  font-size: 14px;
  margin-right: 16px;
  color: rgb(31, 31, 31);
  border-bottom: 1px solid;
  background-color: #fdfdfd;
  padding: 4px 8px;
}

.inlineHintButton {
  font-size: 14px;
  margin-left: 16px;
  color: rgb(31, 31, 31);
  border-bottom: none;
  background-color: #f3f3f3;
  padding: 4px 8px;
}


#possibilities {
  margin-top: 4px;
  font-size: small;
  font-weight: 300;
}

:focus { outline: none; }
a:focus {
  color: #333;
  text-decoration: none;
}

a {
  color: #8d0e0e;
}



/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

