
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
body {
  font-family: Montserrat, sans-serif;
  font-size: small;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

/* dominoes */

.trio {
  display: flex;
  width: min-content;
  margin: 8px 8px;
}

.pair {
  display: flex;
  width: min-content;
  justify-self: center;
  margin: 8px 8px;
  grid-area: pair;
}

.domino {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  width: 24px;
  padding: 8px;
  margin: 0 2px;
  align-content: center;
  text-align: center;
  background-color: #f7f7f7;
  font-weight: 400;
  box-shadow: 0px 0px 1px #f0f0f0;
}

.cb-container {
  display: grid;
  grid-template-areas:
  'pair pair'
  'trio0 trio1'
  'trio2 trio3'
  'trio4 trio5'
  'trio6 trio7'
  'trio8 trio9';
  width: min-content;
}


/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

