{% extends 'zhlayouts/zh_main.html' %}
{% block title %}Classical{% endblock %}
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />

{% block content %}

<script>
function onStartInput() {
  x = document.getElementById("inputContainer");
  x.style.display = "inline-block";
  y = document.getElementById("inputPrompt")
  z = document.getElementById("randomGamePrompt")
  y.style.display = "none";
  z.style.display = "none";
}
function onSubmitInput() {
  x = document.getElementById("inputBox");
  window.location.href = "/zh/classical?setup="+x.value;
}

</script>

<div class="page-header">
  <h1>经典模式</h1>
</div>
<p class = "lead">开始一局新的游戏！<br> 你可以手动输入已经开始的一局，也可以随机生成一局游戏。<br>[暂时不建议手动输入，因为输入不太容易]</p>
<div class = "big-input-container">
<div class = "select-mode">
  <button onclick="onStartInput()" id = "inputPrompt">手动输入</button>
  <a href="{{ url_for('zhrandomgame') }}" class = "fakeButton" id = "randomGamePrompt">随机游戏</a>
</div>
  <div style = "display:none;" id = "inputContainer" >
    <input type="text" style = "width: min(80%, 800px);" id = "inputBox"></input>
    <button onclick="onSubmitInput()" class = "fakeButton">完成</button>
  </div>
</div>

{% endblock %}
